{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Show Order</title>
{% endblock %}

{% block content %}
   <table class="table table-dark">
         <tr>
             <th>Date</th>
             <th>Provider</th>
             <th>Name_of_Product</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>Amount</th>
             <th>Stock</th>
         </tr>
        {% for product in pro %}
         <tr>
             <td>{{product.Date}}</td>
             <td>{{product.Provider}}</td>
             <td>{{product.Name_of_Product}}</td>
             <td>{{product.Price}}</td>
             <td>{{product.Quantity}}</td>
             <td>{{product.Amount}}</td>
             <td>{{product.Stock}}</td>

             <td>
                 <a href="{% url 'updateorder' product.id %}">
                     <button class="btn btn-warning">
                         Update
                     </button>
                 </a>
             </td>
             <td><a href="{% url 'deleteorder' product.id %}"><button class="btn btn-danger">Delete</button></a></td>
          </tr>
        {% endfor %}
        

     </table>
     <br>
     <a href="{% url 'addorder' %}">
         <button class="btn btn-success">Add Order</button>
     </a>
{% endblock %}